- if notice.present?
  .text-white.px-6.py-4.border-0.rounded.relative.my-4.bg-teal-500.bg-opacity-50
    %span.text-xl.inline-block.mr-5.align-middle
      %i.material-icons
        done_outline
    %span.inline-block.align-middle.mr-8.font-bold= notice
    %button.absolute.bg-transparent.text-2xl.font-semibold.leading-none.right-0.top-0.mt-4.mr-6.outline-none.focus:outline-none
      -# %span ×