%nav.flex.items-center.justify-between.flex-wrap.bg-teal-500.p-6
  .flex.items-center.flex-shrink-0.text-white.mr-6
    %img{class: "inline-block mx-auto sm:mx-0 sm:flex-shrink-0 h-16 sm:h-12 rounded-full", src: 'https://cdn.discordapp.com/icons/281756793506627584/03605369fd0399899e3321bd3e21019f.png?size=128'}
    %span.font-semibold.text-xl.tracking-tight あさくさ
  .block.lg:hidden
    %button.flex.items-center.px-3.py-2.border.rounded.text-teal-200.border-teal-400.hover:text-white.hover:border-white
      %svg.fill-current.h-3.w-3{:viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
        %title Menu
        %path{:d => "M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"}
  .w-full.block.flex-grow.lg:flex.lg:items-center.lg:w-auto
    .text-sm.lg:flex-grow
      %a.block.mt-4.lg:inline-block.lg:mt-0.text-teal-200.hover:text-white.mr-4{:href => omikujis_path}
        神社
    %div
      - if logged_in_user.present?
        .inline-block.text-sm.px-4.py-2.leading-none.border.rounded.text-white.border-white.hover:border-transparent.hover:text-teal-500.hover:bg-white.mt-4.lg:mt-0
          = link_to 'Log Out', logout_path, method: :post
        %div.block.mt-4.lg:inline-block.lg:mt-0.text-teal-200.hover:text-white
          = logged_in_user.name
        %img{class: "inline-block mx-auto sm:mx-0 sm:flex-shrink-0 h-16 sm:h-10 rounded-full", src: logged_in_user.image_url}
      - else
        .inline-block.text-sm.px-4.py-2.leading-none.border.rounded.text-white.border-white.hover:border-transparent.hover:text-teal-500.hover:bg-white.mt-4.lg:mt-0
          = link_to 'Discord Login', "/auth/discord", method: :post
